extends layout

block content
    h1= title
    h2= subtitle
    main#main
        button#gcont Get the Continents
        div
            div#continents
                div#contdata
                    p Continents will be here
            div#countries
                div#countdata
                    p Countries will be here
            div#cities
                div#citydata
                    p Cities will be here
            div#cityInfo
                div#cityInfoData
                    p City information will be here