body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 1em;
}
header {
    text-align: right;
    width: 100%;
    border: 0px solid red;
}
header nav ul {
    list-style: none;
    margin-right: 10px;
    text-align: right;
}
header nav ul li {
    border: 1px solid gray;
    display: inline;
    margin-right: 5px;
    padding: 3px;
}
#main {
    display: flex;
    flex-direction: column;
}
table, td {
    border: 1px solid blue;
}
td {
    padding: 3px;
}
.col_l {
    font-weight: 600;
    text-align: right;
}
.col_num {
    text-align: right;
}
#gcont {
    float: left;
    margin: 1em 1em 0 0;
    padding: 3px;
    width: 20.5%;
}
#continents, #countries, #cities, #cityInfo {
    float: left;
    margin: 1em 1em 0 0;
    padding: 3px;
    width: 20%;
}
#continents {
    border: 1px solid red;
}
#countries {
    border: 1px solid green;
}
#cities {
    border: 1px solid blue;
}
#cityInfo {
    border: 1px solid purple;
}
